/**********************
Reset
***********************/
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/**********************
Common
***********************/
body{
    height: 100vh;
    color: white;
    font-family: 'Montserrat', sans-serif;
    min-height: 21.875rem;
}

.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.col{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}

.container{
    height: calc(100% - 90px);
}

.pt-13{
    padding-top: .8125rem;
}
.pb-13{
    padding-bottom: .8125rem;
}
.pside-25{
    padding: 0 .7813rem;
}
.pb-35{
    padding-bottom: 2.1875rem;
}
.mb-45{
    margin-bottom: 2.8125rem;
}
.mb-25{
    margin-bottom: 1.5625rem;
}
.mlr-45{
    margin:0 2.8125rem;
}
.overflow-auto{
    overflow: auto;
}

.overflow-hide{
    overflow: hidden;
}

/**********************
Nav
***********************/

.side-nav .nav-container{
    background-color: #000;
    width: 3.125rem;
    height: 100%;
    padding: 5px 10px 10px 10px;
}

.playlist-container,
.name-tag, 
.nav-footer span,
.logo-text
{
    display: none;
}

.name-tag{

    padding-left: .3125rem;
}
.nav-footer{
    margin-top: auto;
}
.download svg{
    width: .75rem;
    height: .75rem;
}
.user-pic{
    background-color:#808080;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%
}

.playlist-container h3{
    padding: 1.875rem 0 .9375rem 0;
}
.playlist-container i{
font-size: 2.25rem;
padding-right: .625rem ;
}

/**********************
Main
***********************/

.top-header{
    background-color: hwb(0 0% 100% / 0.418);
    height: 90px;
    width: calc(100% - 50px);
    position: fixed;
    top: 0;
    left:50px;
    right:0;
    align-items: center;
    justify-content: flex-end;
}

.btn{
    padding: 15px 40px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    margin-right: 20px;
}
.main-container {
    flex-wrap: wrap;
    overflow: auto;
    height: 100%;
    width: 100%;
}
.played *{
    margin:0 auto;
}

.content-container{
    background-color:#141922 ;
    height: 100%;
    width: 100%;
    padding-top: 110px; 
}

.content-container ul li:first-child {
    border-bottom: .125rem solid #adff2f;
    border-radius: .0625rem; 

}
.card .music-img{
    width: 13.125rem;
    height: 13.125rem;
}
.card .music-img img{
    width: 100%;
}
/**********************
Footer
***********************/

.footer-container{
    height: 90px;
    background-color: #282828;
    padding: 0 .625rem;
}

.playing{
/*     background-color: blue; */
    width: 30%;
    max-width: 14.375rem;
    height: 90px;
}

.player{ 
    width: 40%;
}.volume{
/*     background-color: green; */
    width: 30%;
    max-width: 14.375rem;
    height: 90px;
}

.img-min{
    width: 1.875rem;
    height: 1.875rem;
}
.img-min img{
    width: 100%;
}
.icons{
    height: 2.1875rem;
}
.icons i{
    padding-left: .9375rem;
}

.pulsanti{
    width: 11.875rem;
    margin-bottom: 1.125rem;

}
.pulsanti .fa-circle-play{
    font-size: 30px;
}
.timeline{
    width: 100%;
}

.line-total{
    height: .25rem;
    background-color: white;
    width: 100%;
    margin:0 .625rem;
    border-radius: 2px;
}
.line{
    display: block;
    height: .25rem;
    background-color: red;
    width: 30%;
    border-radius: 2px;  
}
.volume i{
    padding-left: .625rem;
}
.timeline span{
    font-size: .5rem;
}
/**********************
RESPONSIVE
***********************/






@media screen and (min-width: 552px ) {
    .side-nav .nav-container{
        width: 230px ;
        padding: 0 20px 5px 20px;
    }
    .top-header{
        left: 230px;
        width: calc(100% - 230px);
    }
    .nav-footer span{
        display: flex;
    }
    .playlist-container{
        display: block;
    }
    .side-nav li svg{
        width: 25px;
    }
    .download{
        border-bottom: 1px solid white;
    }
    .spotify-logo:first-child{
        display: none;
    }

    .logo-text{
        display: flex;
        height: 90px;
    }
    .name-tag{
        display: block;
    }
    .card .music-img{
        width: 10.3125rem;
        height: 10.3125rem;}
}

@media screen and (min-width: 640px ){
    .img-min{
        width: 2.1875rem;
        height: 2.1875rem;
    }
    
}

@media screen and (min-width: 878px ){

    .icons {
        flex-direction: row;
        height: .9375rem;
        }
        .img-min{
            width: 2.625rem;
            height: 2.625rem;
        }
}


