/**********************
Reset
***********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**********************
Common
***********************/
.flex{
    display: flex;
}
.col{
    flex-direction: column;
}
/* main{
    min-width: 350px;
} */
main, footer{
    position: relative;
}


/**********************
Nav
***********************/

.side-nav .nav-container{
    background-color: aqua;
    width: 50px;
    padding: 5px 10px 10px 10px;
 /*    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    z-index: 10; */
    
}
.side-nav span, .playlist-container{
    display: none;
}

/**********************
Header
***********************/

.top-header{
    background-color: hwb(0 0% 100% / 0.418);
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left:50px;
    right:0;
    align-items: center;

}
.main-container {
    flex-wrap: wrap;
/*     position: relative;
    top: 90px;
    left: 50px; */
}
.content-container{
    background-color:#141922 ;
    padding-top: 110px;
   
}



/**********************
Footer
***********************/

footer .container{
    height: 90px;
    background-color: cadetblue;
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    z-index: 20;
}




@media screen and (min-width: 640px ) {
    .side-nav .nav-container{
        width: 230px ;
    }
    .top-header{
        left: 230px;
    }
    .side-nav span{
        display: block;
    }
    .playlist-container{
        display: block;
    }
    .side-nav li svg{
        width: 25px;
    }
}
